/*
 * shared memory assignment official document
 * dtsi base address and memory size come from official document
 * http://3ms.huawei.com/hi/group/2027987/wiki_5455883.html
 */

/{
	bl31-kernel-shared-memory {
	/*reg <offset size>*/
		dmss-int-mem {
			reg = <0x0 0x400>;
		};

		ddr-flux-mem {
			reg = <0x400 0x400>;
		};

		efuse-mem {
			compatible = "hisi,share-memory-efuse";
			reg = <0x800 0x400>;
		};

		mem-no-use {
			compatible = "hisi,not use";
			reg = <0xC00 0x800>;
		};

		drm-mem {
			compatible = "hisi,share-memory-drm";
			reg = <0x1400 0x400>;
		};

		getval-mem {
			compatible = "hisilicon, get_val";
			hisi,bl31-share-mem = <0x1800 0x400>;
		};
		bl31-mntn-mem {
			compatible = "hisilicon, bl31_mntn";
			hisi,bl31-share-mem = <0x1c00 0x100>;
		};
		ddr-perdata {
			compatible = "hisi,hisi-ddr-perfdata";
			hisi,ddr-perdata = <0x1d00 0x100>;
		};
		freqdump-mem {
			compatible = "hisi,hisi-freqdump";
			reg = <0x1e00 0xc00>;
		};
		rpmd-mem {
			compatible = "hisilicon,hisi-rpmb";
			hisi,bl31-share-mem = <0x8000 0x8000>;
		};
	};
};
